 .menu{
    background-color: rgb(210, 178, 240);
    position: fixed;
    width: 100%;
    top: 0;
    margin-top: 0px;
    z-index: 1;
}
.links{
    display: inline;
    font-size: 30px;
    margin-right: 30px;
}
body{
    text-align: center;
    margin: 0px;
}
a{
    text-decoration: none;
    color: rgb(10, 177, 74);
}
/* pseudo class-selector:pseudo-class{property:value;}  */
a:hover{
    font-size: 40px;
    color:red;
}
#mail:hover{
    font-size: 20px;
}
html{
    scroll-behavior: smooth;
}
#profile{
    margin-top: 100px;
    height: 300px;
    width: 300px;
    border-radius: 50%;
}
#aslu{
    font-family: 'Sevillana', cursive;
margin-top: 0px;
font-size: 60px;
}
#home{
background-image: linear-gradient(to bottom right,red,yellow,blue);
}

.nav{
    color: blue;
}
@media screen and (max-width: 562px) {
    #profile{
        margin-top: 100px;
        height: 300px;
        width: 300px;
        border-radius: 50%;
    }  
    .links{
        display: inline;
        font-size: 30px;
        margin-right: 30px;
    }
}
  