div{
    width: 300px;
    height: 500px;
    background-color:rgb(189, 14, 142);
    border: 1px solid;
}
#d1{
    margin-left: 400px;
   margin-top: -500px;
   background-color: aqua;
}
img{
    width: 100%;
}
body{
    background-color: blueviolet;
}